<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

  <nav class="bg-gray-800 p-4 text-white flex justify-between items-center">
    <div class="font-semibold text-xl">IntellectQuest</div>
    <img src="path_to_profile_image.jpg" alt="Profile" class="rounded-full h-12 w-12">
  </nav>
  <div class="container mx-auto mt-10">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <div class="flex flex-col items-center md:flex-row md:justify-between">
        <img src="path_to_avatar_image.jpg" alt="Avatar" class="rounded-full h-32 w-32 mb-4 md:mb-0 md:mr-6">
        <form class="w-full md:w-2/3" action="editUser.php" method="post">
          <h2 class="text-2xl font-semibold text-center md:text-left mb-4">Edit Profile</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="bg-gray-100 p-4 rounded-md">
              <label for="username" class="text-gray-600">Name</label>
              <input type="text" id="username" name="username" class="w-full mt-2 p-2 rounded border">
            </div>
            <div class="bg-gray-100 p-4 rounded-md">
              <label for="email" class="text-gray-600">E-mail</label>
              <input type="email" id="email" name="email" class="w-full mt-2 p-2 rounded border">
            </div>
            <div class="bg-gray-100 p-4 rounded-md">
              <label for="password" class="text-gray-600">Password</label>
              <input type="password" id="password" name="password" placeholder="Enter new password" class="w-full mt-2 p-2 rounded border">
            </div>
          </div>
          <div class="flex justify-between items-center mt-4">
            <a href="user.html" class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 focus:outline-none">
              Go Back
            </a>
            <button href="user.html" type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none">
                Confirm
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
